<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hotel Accounting System</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
    </nav>
  </header>
  <main class="main-container">
    <h1>Welcome to the Hotel Accounting System</h1>
    <p>
      The Hotel Accounting System is designed to help you efficiently manage your hotel's financial operations. 
      Track revenues, expenses, and profits with ease, and gain valuable insights into your business performance.
    </p>
    <p>
      Whether you're managing a small boutique hotel or a large chain, our system provides the tools you need to stay on top of your finances.
    </p>
    <div class="button-container">
      <!-- Login Button -->
      <a href="/login" class="nav-link large-button">Login</a>
      <!-- Register Button -->
      <a href="/register" class="nav-link large-button">Register</a>
      <!-- Admin Login Button -->
      <a href="/admin/login" class="nav-link large-button">Admin Login</a>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
