<div class="sidebar">
  <div class="logo">⚙️</div>
  <nav>
    <ul>
      <li><a href="/admin/home" title="Home"><i class="fas fa-home"></i></a></li> <!-- Home bağlantısını düzelt -->
      <li><a href="/admin/settings" title="Users"><i class="fas fa-users"></i></a></li>
      <li><a href="/admin/logs" title="Logs"><i class="fas fa-file-alt"></i></a></li>
      <li><a href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </nav>
</div>
